<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- File Appender with Rolling Policy -->
    <springProperty scope="context" name="springAppName"
                    source="spring.application.name"/>
    <!-- Appender to log env != prod -->
    <appender name="loggingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/apps/logs/${springAppName}/${springAppName}.log
        </file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/opt/apps/logs/${springAppName}/${springAppName}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${springAppName} %logger{35} [%thread] - %msg %n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Define the log pattern for console output -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${springAppName} %logger{35} [%thread] - %msg %n</pattern>
        </encoder>
    </appender>

    <springProfile name="!prod">
        <!-- Root Logger -->
        <root level="debug">
            <appender-ref ref="loggingFile"/>
        </root>
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </springProfile>


    <!-- Appender to Log env prod-->
    <appender name="loggingFileProd"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/opt/apps/logs/${springAppName}/${springAppName}.log
        </file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/opt/apps/logs/${springAppName}/${springAppName}-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${springAppName} %logger{35} [%thread] - %msg %n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="consoleProd"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Define the log pattern for console output -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${springAppName} %logger{35} [%thread] - %msg %n</pattern>
        </encoder>
    </appender>

    <springProfile name="prod">
        <root level="error">
            <appender-ref ref="loggingFileProd"/>
        </root>
        <root level="error">
            <appender-ref ref="consoleProd"/>
        </root>
    </springProfile>


</configuration>